<!DOCTYPE html>
<html>

  <head>
    <title>Chirp</title>
    <meta name="author" content="Matthew Hughes" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
		<div class="container">
			<header>
			</header>

			<main>
				{% block content %}
				{% endblock %}
			</main>

			<footer>
			</footer>
		</div>

		<script src="https://kit.fontawesome.com/02b8298c98.js"></script>
	</body>

</html>