{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Blog</title>
    <link rel="stylesheet" href = "{% static 'css/base.css'%}">
  </head>
  <body>
    <div class="container">
      <header>

      </header>
      <div class="nav-left">
        <h1><a href = {% url 'posts:home' %}>Django blog</a></h1>
      </div>
      <div class="nav-right">
        <h2><a href = {% url 'posts:new' %}>Django blog</a></h2>
      </div>
    </div>
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
