<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes in Vue</title>
    <!-- Add your styles here! -->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div id="app">

        <input type='text' v-model="userInput">
        <select v-model="searchby">
            <option value=" " disabled selected>Search by:</option>
            <option value='keyword'>Keyword</option>
            <option value='author'>Author</option>
            <option value='tag'>Tag</option>
        </select>
        <button @click='search'>Submit</button>

        <div id='quotes'>
            <ol>
                <li v-for="quote in quotes">
                    {{ quote.body }}
                    <p>
                        <em>By: {{quote.author}}</em>
                    </p>
                </li>
            </ol>
            <p>
                <previouspage></previouspage> <nextpage></nextpage>
            </p>
        </div>

    </div>

    <!-- Include Vue from a CDN of your choice, I chose unpkg -->
    <script src="https://unpkg.com/vue"></script>
    <!-- Initialize Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Include your code here... -->
    <script src="js/main.js"></script>
</body>

</html>