{% load static %}

<link rel="stylesheet" href="{% static 'grocery_app/main.css' %}" />

<form action="{% url 'grocery_app:additem' %}" method="post" id="add-form">
	{% csrf_token %}
	<input type="text" name="item_text" />
	<button type="submit">Add Item</button>
</form>


<h1>Grocery List</h1>

<ul>
	{% for item in grocery_items %}
		<form action="{% url 'grocery_app:completeditem' item.id %}" method="post" class="item-forms">
			{% csrf_token %}
			<li><button type="submit" class="item-button">{{ item.item_text }}</button></li>
		</form>
	{% endfor %}
</ul>