/***** FULL PAGE *****/

html {
  box-sizing: border-box;
  background: rgb(238, 238, 238);
}

*, *:before, *:after {
  box-sizing: inherit;
}

/***** BODY *****/

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "clock stopwatch countdown";
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  color: rgb(96, 96, 96);
  transition: ease-in-out 1s;
}

h1:hover {
  color: rgb(140, 0, 0);
  cursor: pointer;
}

#clock, #stopwatch, #countdown {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 45vh 45vh;
  justify-content: center;
}

/***** CLOCK *****/

#clock {
  grid-area: clock;
  grid-template-areas:
    "clock-header"
    "clock-main"
    "clock-image";
  border-left: 1px solid black;
}

#clock-header {
  grid-area: clock-header;
}

#clock-main {
  grid-area: clock-main;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock-image {
  grid-area: clock-image;
  background: url("pocket-watch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.time {
  font-size: 48px;
}

/***** STOPWATCH *****/

#stopwatch {
  grid-area: stopwatch;
  grid-template-areas:
    "stopwatch-header"
    "stopwatch-main"
    "stopwatch-laps";
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#stopwatch-header {
  grid-area: stopwatch-header;
}

#stopwatch-main {
  grid-area: stopwatch-main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#stopwatch-time {
  margin: 24px 0;
  height: 55px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  width: 100px;
  background: linear-gradient(to bottom right, grey, white, white, grey);
  border-radius: 10px;
  box-shadow: 2px 2px grey;
  transition: ease-in-out 1s;
}

button:hover {
  color: rgb(140, 0, 0);
  cursor: pointer;
}

#stopwatch-laps {
  grid-area: stopwatch-laps;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

#stopwatch-laps p {
  margin: 6px 0;
  font-size: 22px;
}

/***** COUNTDOWN *****/

#countdown {
  grid-area: countdown;
  grid-template-areas:
    "countdown-header"
    "countdown-main"
    "countdown-complete";
}

#countdown-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#countdown-set {
  display: flex;
  justify-content: center;
  align-items: center;
}

#countdown-date {
  width: 130px;
  height: 35px;
  text-align: center;
  font-size: 18px;
  margin: 10px 6px;
  padding: 0;
}

select {
  height: 35px;
  margin: 10px 2px;
}

#countdown-time {
  margin: 24px 0;
  height: 55px;
}

#countdown-complete {
  background: url("countdown.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* DEFAULT - START LAYOUT */

main {
  grid-template-areas:
    "clock stopwatch countdown";
}

#clock-main, #clock-image, #countdown-main, #countdown-complete {
  display: none;
}