<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Todo List</title>
    <!-- Add your styles here! -->
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <div id="app">
        {{ message }}
        <div class = 'inputArea'>
            <input type='text' class='userInput' placeholder='Enter ToDo Item' v-model='newTodo.text' @keyup.enter = 'add'></input>
            <button @click='add' class='addButton'>Add</button>
        </div>
        
        <ul v-if='todos'> 
            <p><h1>Things to do today:</h1></p>
            <li v-for='todo,i in todos'>
                
                {{todo.text}} 
                <input type='checkbox' v-model='todo.isComplete' id='complete' class='checkbox'>
                <label for='complete'>Check if completed</label>
                <button @click='remove(i)' class='deleteButton'>Delete</button>
                <p><span>Status:</span> {{todo.isComplete ? 'Completed':'Incomplete'}}</p>
            </li>
        </ul>
    </div>

    <!-- Include Vue from a CDN of your choice, I chose unpkg -->
    <script src="https://unpkg.com/vue"></script>
    <!-- Include your code here... -->
    <script src="js/main.js"></script>
</body>
</html>  