/***** FULL PAGE *****/

/* COLOR SCHEME */
/* body {
  color: #F2226E; magenta 
  color: #D0D5F2; pale blue
  color: #5E76BF; blue
  color: #C3D9A3; green
  color: #F28705; orange
} */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* .clearfix:after {
  content: "";
  display: table;
  clear: both;
} */


/***** BODY *****/





/***** HEADER *****/





/***** FOOTER *****/




/***** MEDIA QUERIES *****/


@media (min-width: 768px) {


} 


@media (min-width: 1024px) {


}