html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}



.tortilla-choose{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}


.rice-choose{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.beans-choose{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}


.meat-choose{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

fieldset legend{
  font: bold;
}