/***** FULL PAGE *****/

html {
  box-sizing: border-box;
  background-image: url("turf-moor.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/***** BODY *****/

body {
  text-align: center;
}