<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>foodcartcity</title>
		<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<!-- Material Design Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="main.css" />
	</head>

	<body>

		<header>
			<nav>
				<div class="nav-wrapper green lighten-1">
					<a href="#!" class="brand-logo" style="margin-left: 30px">foodcartcity</a>
					<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down" style="margin-right: 30px">
						<li><a href="#">Sign In</a></li>
						<li><a href="#">Get Started</a></li>
					</ul>
					<ul class="sidenav" id="mobile-demo" style="margin-right: 30px">
						<li><a href="#">Sign In</a></li>
						<li><a href="#">Get Started</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<main>
			<div class="container">
				<div id="app">
					<div class="search-wrapper focused" style="margin-top: 30px">
						<input id="search" placeholder="Search" v-model="searchValue" @keyup.enter="listCarts" />
					</div>
					<div class="row center-align" style="margin-top: 30px; height: 500px;">
						<div class="col s12 m6 l4" v-for="r of restaurants">
							<div class="card medium">
        				<div class="card-image center-align">
									<img :src="r.restaurant.thumb" alt="food cart city logo" style="max-width: 100%">
									<span class="card-title center-align" style="width: 100%">{{ r.restaurant.name }}</span>
								</div>
								<div class="card-content center-align valign-wrapper">
									<p>{{ r.restaurant.location.address }}</p>
								</div>
								<div class="card-action center-align">
									<a style="margin-right: 0;":href="r.restaurant.url">Website</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer>
		</footer>

		<!-- Axios -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<!-- Vue -->
		<script src="https://unpkg.com/vue"></script>
		<!-- Personal JavaScript -->
		<script src="script.js"></script>
		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
	
</html>