 <!DOCTYPE html>
<html>
<head>
<title>
    Grocery List
</title>
</head>

<body>

    <h1>Grocery List for the week:</h1>
    <br>
    <div class='grocery-list-form'>
        <form> 
            {% csrf_token %}
            <label for='groceryList'>Grocery List</label>
            <input type='text' id='groceryList' placeholder='Add to your grocery list'><br>
            <input type='submit' value='submit'><br>
        </form>
    </div>

    <div class='grocery-list-todo'>
        <h1>Current Grocery List:</h1>

        {% if grocery_list %}
        <ul>
            {% for groceries in grocery_list %}
                <li> {{GroceryItem.grocery_text}}
            {% endfor %}
        </ul>
        {% else %}
            <p>Your Grocery List is Empty!</p>
    </div>

    <div class='grocery-list-completed'>
    </div>
    
</body>

</html>
