[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-webpack-loader = "==0.6.0"
pytz = "==2018.7"
Django = "==2.2.5"

[dev-packages]

[requires]
python_version = "3.7.3"
