body {
    background-image: linear-gradient(to bottom, black, white);
    color: #f2f2f2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    border: 2px solid black;
    margin: 50px;
    padding: 10px;
}

/* Clock CSS */
.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
}

#clock {
    font-size: 1.5em;
    text-align: center;
}

/* Stopwatch CSS */
.lap-container {
    width: 300px;
    height: 100px;
    background-color: white;
    color: black;
    box-shadow: 0 0 20px black;
    margin: 30px auto;
    padding: 10px;

}

#actual-stopwatch {
    text-align: center;
    font-size: 4em;
}

.buttons {
    margin-top: 10px;
    text-align: center;
}

button {
    background-color: #f2f2f2;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    outline: none;
}

button:hover {
    background-color: rgba(192,192,192, .3);
}

button:active {
    background-color: rgba(255,255,0,.3);
}
/* Media Query */

@media all and (min-width: 640px) {
    body {
        display: flex;
        flex-direction: row;
        padding: 30px;
    }
}