body {
    background-image: linear-gradient(to bottom, black, white);
    color: #f2f2f2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    border: 1px solid yellow;
} */

/* #clock, #stopwatch {
    background-color: rgba(0,0,0,.4);
    height: 100px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 2em;
    text-align: center;
} */