<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab 3 - Chirp Lab</title>
</head>
<body>

    <main>
       {% if user.is_authenticated %}
    Hi {{ user.username }}!  <a href="{% url 'logout' %}">Logout</a>
    <h1>Chirps</h1>

    <p><a href="{% url 'newPost' %}"> - New Post</a> </p>

{% else %}
    <p>You are not logged in</p>
    <a href=" {% url 'login'  %}">Login</a>

{% endif %}
{% block content %}

{% endblock content %}
    </main>
    
</body>
</html>